Repository hemilabs/wallet-watch-asset: changes, and which lint-staged commands are due for each by the changed paths.
All: better-sort-github-actions, prettier --write, eslint --cache --fix --quiet, better-sort-package-json

.lintstagedrc.json:

{
  "!(.github/workflows/*.yml|*.{d.ts,js,md}|package.json)": [
    "prettier --ignore-unknown --write"
  ],
  ".github/workflows/*.yml": ["better-sort-github-actions", "prettier --write"],
  "*.{js,md}": ["eslint --cache --fix --quiet", "prettier --write"],
  "package.json": ["better-sort-package-json", "prettier --write"]
}

Fix prepare husky command
  package.json
Due: prettier --write, better-sort-package-json

Fix prepare husky command (#2)
  package.json
Due: prettier --write, better-sort-package-json

Make token properties optional
  src/index.d.ts
  src/index.js
Due: prettier --write, eslint --cache --fix --quiet

1.0.1
  package-lock.json
  package.json
Due: prettier --write, better-sort-package-json

Make token props optional (#3)
  package-lock.json
  package.json
  src/index.d.ts
  src/index.js
Due: prettier --write, eslint --cache --fix --quiet, better-sort-package-json
